<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<form th:action="@{/passwordReset}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type='email' name='email' th:field="*{email}"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Reset"/></td>
        </tr>
    </table>
    <div>
        <a href="/registration">Sign Up</a>
    </div>
</form>
</body>
</html>
