<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookWise ILS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div class="container">
    <h1>Registration</h1>
    <form action="/registration/submit" th:object="${user}" method="POST" enctype="application/x-www-form-urlencoded">
        <div>
            <label for="username">Username</label>
            <input type="text" maxlength="255" id="username" th:field="*{username}" required pattern="[a-zA-Z0-9.]+"
            title="Only letters and numbers are allowed"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" maxlength="255" id="email" th:field="*{email}"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                   required th:field="*{password}">
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="passwordConfirm">Confirm password</label>
            <input type="password" id="passwordConfirm" th:field="*{matchingPassword}" required/>
        </div>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</div>
</body>
</html>
