<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <h1>Password reset</h1>
    <form th:action="@{/passwordReset}" method="post">
        <table>
            <tr>
                <td><label for="password">New password:</label></td>
                <td><input type="password" id="password" value=''></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="Set password"/></td>
            </tr>
            <tr>
                <td><a href="/home">Go home</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
